    /*pantallas mayores a 768px dispositivos de "escritorio"*/
    @media only screen and (min-width: 768px) {
        .rigth-span{
            width: 15%;
            height: 100%;
            position: fixed;
            top: 80px;
            left: 0%;
            background-color: rgb(216, 121, 203);
        }

        .left-span{
            width: 15%;
            height: 100%;
            position: fixed;
            top: 80px;
            left: 90%;
            background-color: rgb(115, 101, 243);
        }

        content{
            width: 100%;
            height: 100%;
            position: fixed;
            top: 80px;
            left: 0%;
            background-color: rgb(255, 136, 89);
        }
        
    }

    /*pantallas menores a 768px dispositivos "mobiles" */
    @media only screen and (max-width: 768px) {
        .rigth-span{
            display: none;
        }

        .left-span{
            display: none;
        }

        content{
            width: 100%;
            height: 100%;
            position: fixed;
            top: 80px;
            left: 0%;
            background-color: rgb(212, 95, 130);
        }
    }

    /* general */
    body{
        background-color: rgb(230, 230, 230);
    }

    /* menu desplegable */
    .span-menu{
        width: 80%;
        height: 80px;
        position: fixed;
        top: 0%;
        left: 0%;
        background-color: rgb(184, 184, 184);

        text-align: left;
        margin:0;
        padding:0;
    }

    .span-menu ul{
        list-style-type:none;
        white-space:nowrap;
        position: relative;
        top: 25px;
        margin:0;
        padding:0;


        display: inline-block;
    }

    .span-menu ul li{
        background-color:#2e518b;
        display: inline-block;
    }

    .span-menu ul li a{
        text-decoration: none;
        color: rgb(255, 255, 255);
    }

    .span-menu ul li:hover > ul {
        display: block;
        top: 40px;
    }

    .span-menu ul ul{
        list-style-type:none;
        white-space:nowrap;
        position: fixed;
        margin:0;
        padding:0;

        display: none;
    }        

    .span-menu ul ul li a{
        text-decoration:none;
        color: rgb(56, 121, 88);
        background-color: blanchedalmond;
    }

    /* sección de logo */
    .span-logo{
        width: 20%;
        height: 80px;
        position: fixed;
        top: 0%;
        left: 80%;
        background-color: rgb(73, 252, 168);
    }

    .span-logo img{
        width: 60px;
        height: 60px;

        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 
        
        10px;
    }
    
    